Series和Datafram索引的原理一样，我们以Dataframe的索引为主来学习
* 列索引：df['列名']  （Series不存在列索引）
* 行索引：df.loc[]、df.iloc[]

选择列 / 选择行 / 切片 / 布尔判断

In [1]:
import numpy as np
import pandas as pd  
# 导入numpy、pandas模块

In [2]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)

data1 = df['a']
data2 = df[['a','c']]
print(data1,type(data1))
print(data2,type(data2))
print('-----')
# 按照列名选择列，只选择一列输出Series，选择多列输出Dataframe

data3 = df.loc['one']
data4 = df.loc[['one','two']]
print(data3,type(data3))
print(data4,type(data4))
# 按照index选择行，只选择一行输出Series，选择多行输出Dataframe

               a          b          c          d
one    86.579717  78.010284  60.867002  27.788596
two    45.502045  24.392854  84.195350  25.950909
three  72.943622  96.537273  86.591489  93.434591
one      86.579717
two      45.502045
three    72.943622
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          c
one    86.579717  60.867002
two    45.502045  84.195350
three  72.943622  86.591489 <class 'pandas.core.frame.DataFrame'>
-----
a    86.579717
b    78.010284
c    60.867002
d    27.788596
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
             a          b          c          d
one  86.579717  78.010284  60.867002  27.788596
two  45.502045  24.392854  84.195350  25.950909 <class 'pandas.core.frame.DataFrame'>

In [3]:
# df[] - 选择列
# 一般用于选择列，也可以选择行，但不推荐，行索引用.loc与.iloc

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)
print('-----')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one     6.057210  15.924831  90.943586   4.016382
two    78.919514  36.720695  15.239731  42.097075
three   2.023157   6.994121  27.321257  23.484499
-----
one       6.057210
two      78.919514
three     2.023157
Name: a, dtype: float64
               b          c
one    15.924831  90.943586
two    36.720695  15.239731
three   6.994121  27.321257

In [4]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)
print('-----')

data1 = df1.loc['one']
data2 = df2.loc[1]
print(data1)
print(data2)
print('单标签索引\n-----')
# 单个标签索引，返回Series

               a          b          c          d
one    87.858817  77.731802  53.510753  65.449511
two    92.468495  21.138422  75.783051  35.178955
three  76.020660  28.452576  49.352479  97.688749
four   86.315750  51.421533  71.503408  36.298579
           a          b          c          d
0  81.812066   6.797858  63.588397  79.618509
1  52.503099  93.146407   0.867074  49.693558
2  36.387844  47.433088  13.003926  61.693756
3   0.692093  61.703987  46.487926  26.876570
-----
a    87.858817
b    77.731802
c    53.510753
d    65.449511
Name: one, dtype: float64
a    52.503099
b    93.146407
c     0.867074
d    49.693558
Name: 1, dtype: float64
单标签索引
-----

In [5]:
data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)
print('多标签索引\n-----')
# 多个标签索引，如果标签不存在，则返回NaN
# 顺序可变
# 这里‘five’标签不存在，所以有警告

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print('切片索引')
# 可以做切片对象
# 末端包含

# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
two    92.468495  21.138422  75.783051  35.178955
three  76.020660  28.452576  49.352479  97.688749
five         NaN        NaN        NaN        NaN
           a          b          c          d
3   0.692093  61.703987  46.487926  26.876570
2  36.387844  47.433088  13.003926  61.693756
1  52.503099  93.146407   0.867074  49.693558
多标签索引
-----
               a          b          c          d
one    87.858817  77.731802  53.510753  65.449511
two    92.468495  21.138422  75.783051  35.178955
three  76.020660  28.452576  49.352479  97.688749
           a          b          c          d
1  52.503099  93.146407   0.867074  49.693558
2  36.387844  47.433088  13.003926  61.693756
3   0.692093  61.703987  46.487926  26.876570
切片索引

In [6]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])
# print(df.iloc[4])
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
print('多位置索引\n-----')
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print('切片索引')
# 切片索引
# 末端不包含

               a          b          c          d
one    30.676836  97.286689  45.620494  82.664063
two    97.002117  49.579344  71.068086  73.551154
three  17.172331  43.764939  31.679046  39.423973
four   83.434489  86.070309  27.172874  90.553437
------
a    30.676836
b    97.286689
c    45.620494
d    82.664063
Name: one, dtype: float64
a    83.434489
b    86.070309
c    27.172874
d    90.553437
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    30.676836  97.286689  45.620494  82.664063
three  17.172331  43.764939  31.679046  39.423973
               a          b          c          d
four   83.434489  86.070309  27.172874  90.553437
three  17.172331  43.764939  31.679046  39.423973
two    97.002117  49.579344  71.068086  73.551154
多位置索引
-----
               a          b          c          d
two    97.002117  49.579344  71.068086  73.551154
three  17.172331  43.764939  31.679046  39.423973
               a          b          c          d
one    30.676836  97.286689  45.620494  82.664063
three  17.172331  43.764939  31.679046  39.423973
切片索引

In [7]:
# 布尔型索引
# 多用于索引行

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

b1 = df < 20
print(b1,type(b1))
print('------')
print(df[b1])  # 也可以书写为 df[df < 20]
print('------')
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b2 = df['a'] > 50
print(b2,type(b2))
print('------')
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列
df[['b', 'c']][df['a']>50]

               a          b          c          d
one    98.571465  73.184190  81.492488  74.693391
two    28.446198  48.311807   9.724256  20.051154
three  62.846210  14.108032  77.233452   0.028796
four   62.083426  86.451429  64.058057  71.604811
------
           a      b      c      d
one    False  False  False  False
two    False  False   True  False
three  False   True  False   True
four   False  False  False  False <class 'pandas.core.frame.DataFrame'>
------
        a          b         c         d
one   NaN        NaN       NaN       NaN
two   NaN        NaN  9.724256       NaN
three NaN  14.108032       NaN  0.028796
four  NaN        NaN       NaN       NaN
------
one       True
two      False
three     True
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
------
               a          b          c          d
one    98.571465  73.184190  81.492488  74.693391
three  62.846210  14.108032  77.233452   0.028796
four   62.083426  86.451429  64.058057  71.604811
------

               b          c
one    73.184190  81.492488
three  14.108032  77.233452
four   86.451429  64.058057

In [25]:

b3 = df[['a','b']] > 50 
print(b3,type(b3))
# print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
# df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN
# 注意这里报错的话，更新一下pandas → conda update pandas

b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print('------')
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

           a      b
one     True  False
two     True  False
three   True  False
four   False   True <class 'pandas.core.frame.DataFrame'>
------
           a     b      c     d
one    False  True  False  True
three  False  True  False  True <class 'pandas.core.frame.DataFrame'>
------
        a          b   c          d
one   NaN   9.743740 NaN  20.680768
two   NaN        NaN NaN        NaN
three NaN  12.558108 NaN  30.541386
four  NaN        NaN NaN        NaN
------

In [9]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

               a          b          c          d
one    95.868100  52.183143  17.588833   1.911946
two    82.865745  21.285253  63.505795  35.620282
three  56.479367  65.402747   2.287153  49.147481
four   16.308262  72.932184  20.997175  10.587928
------
one      95.868100
three    56.479367
Name: a, dtype: float64
               b          c          d
one    52.183143  17.588833   1.911946
three  65.402747   2.287153  49.147481
              a          b          c          d
four  16.308262  72.932184  20.997175  10.587928

######## 课后小练习,请查看 “pandas课程作业.docx”  ########

作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
* 索引得到b，c列的所有值
* 索引得到第三第四行的数据
* 按顺序索引得到two，one行的值
* 索引得到大于50的值

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                 index = ['one','two', 'three', 'four'],
                 columns = ['a', 'b', 'c', 'd'])

In [11]:
df[['c', 'd']]

               c          d
one    97.862963  20.680768
two    95.122120   3.210041
three  61.594363  30.541386
four   74.211024  18.400258

In [12]:
df.loc[['three', 'four']]

               a          b          c          d
three  70.009040  12.558108  61.594363  30.541386
four   42.881315  54.290105  74.211024  18.400258

In [13]:
df.iloc[[2, 3]]

               a          b          c          d
three  70.009040  12.558108  61.594363  30.541386
four   42.881315  54.290105  74.211024  18.400258

In [14]:
df.loc[['two', 'one']]

             a          b          c          d
two  68.530427  33.652195  95.122120   3.210041
one  59.090007   9.743740  97.862963  20.680768

In [15]:
df[df>50]

               a          b          c   d
one    59.090007        NaN  97.862963 NaN
two    68.530427        NaN  95.122120 NaN
three  70.009040        NaN  61.594363 NaN
four         NaN  54.290105  74.211024 NaN

作业2：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
* 标签为b，c的值为多少
* Series中第4个和6个值是哪些？
* Series中大于50的值有哪些？

In [16]:
s = pd.Series(np.random.rand(10)*100,
             index = ['a','b','c','d','e','f', 'g','h','i','j'])
s

a    83.130486
b    86.794950
c    61.105536
d    49.222574
e    34.987145
f     2.656418
g    72.558290
h    95.349401
i    99.723930
j    58.909200
dtype: float64

In [17]:
s.loc['b'], s.loc['c']

(86.794950463338523, 61.105536261792828)

In [18]:
s.iloc[4], s.iloc[6]

(34.987145395207101, 72.558289655635264)

In [19]:
s[s>50]

a    83.130486
b    86.794950
c    61.105536
g    72.558290
h    95.349401
i    99.723930
j    58.909200
dtype: float64

In [20]:
s[s>50].index.tolist()

['a', 'b', 'c', 'g', 'h', 'i', 'j']