Series和Datafram索引的原理一样，我们以Dataframe的索引为主来学习
* 列索引：df['列名']  （Series不存在列索引）
* 行索引：df.loc[]、df.iloc[]

选择列 / 选择行 / 切片 / 布尔判断

In [1]:
import numpy as np
import pandas as pd  
# 导入numpy、pandas模块

In [2]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)

data1 = df['a']
data2 = df[['a','c']]
print(data1,type(data1))
print(data2,type(data2))
print('-----')
# 按照列名选择列，只选择一列输出Series，选择多列输出Dataframe

data3 = df.loc['one']
data4 = df.loc[['one','two']]
print(data3,type(data3))
print(data4,type(data4))
# 按照index选择行，只选择一行输出Series，选择多行输出Dataframe

               a          b          c          d
one    86.276957  42.583974  22.832042   6.111728
two     3.783147  72.428459  48.320006  45.345259
three  32.546168  88.364909   5.008513  53.689312
one      86.276957
two       3.783147
three    32.546168
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          c
one    86.276957  22.832042
two     3.783147  48.320006
three  32.546168   5.008513 <class 'pandas.core.frame.DataFrame'>
-----
a    86.276957
b    42.583974
c    22.832042
d     6.111728
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
             a          b          c          d
one  86.276957  42.583974  22.832042   6.111728
two   3.783147  72.428459  48.320006  45.345259 <class 'pandas.core.frame.DataFrame'>

In [3]:
# df[] - 选择列
# 一般用于选择列，也可以选择行，但不推荐，行索引用.loc与.iloc

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)
print('-----')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    54.710605  76.225420  27.692121  37.225588
two    45.537497  93.833602  77.773937  74.930507
three  24.914354  48.629292  51.086648  43.618572
-----
one      54.710605
two      45.537497
three    24.914354
Name: a, dtype: float64
               b          c
one    76.225420  27.692121
two    93.833602  77.773937
three  48.629292  51.086648

In [4]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)
print('-----')

data1 = df1.loc['one']
data2 = df2.loc[1]
print(data1)
print(data2)
print('单标签索引\n-----')
# 单个标签索引，返回Series

               a          b          c          d
one    28.426383  71.694060  63.865940  56.057286
two    94.263776  64.512763  94.957953  23.784442
three  44.240040  19.758853  25.889442  34.089108
four    9.584777  15.215115  30.918945  77.994200
           a          b          c          d
0  43.875216  76.427410  23.722497  60.922426
1  99.484072  79.620712  77.196341   9.793128
2  47.514025  26.492425   3.542784  65.857464
3  80.068594  22.694744  65.985187  22.178110
-----
a    28.426383
b    71.694060
c    63.865940
d    56.057286
Name: one, dtype: float64
a    99.484072
b    79.620712
c    77.196341
d     9.793128
Name: 1, dtype: float64
单标签索引
-----

In [5]:
data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)
print('多标签索引\n-----')
# 多个标签索引，如果标签不存在，则返回NaN
# 顺序可变
# 这里‘five’标签不存在，所以有警告

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print('切片索引')
# 可以做切片对象
# 末端包含

# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
two    94.263776  64.512763  94.957953  23.784442
three  44.240040  19.758853  25.889442  34.089108
five         NaN        NaN        NaN        NaN
           a          b          c          d
3  80.068594  22.694744  65.985187  22.178110
2  47.514025  26.492425   3.542784  65.857464
1  99.484072  79.620712  77.196341   9.793128
多标签索引
-----
               a          b          c          d
one    28.426383  71.694060  63.865940  56.057286
two    94.263776  64.512763  94.957953  23.784442
three  44.240040  19.758853  25.889442  34.089108
           a          b          c          d
1  99.484072  79.620712  77.196341   9.793128
2  47.514025  26.492425   3.542784  65.857464
3  80.068594  22.694744  65.985187  22.178110
切片索引

In [6]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])
# print(df.iloc[4])
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
print('多位置索引\n-----')
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print('切片索引')
# 切片索引
# 末端不包含

               a          b          c          d
one    40.500065  15.907407  26.638836  90.647139
two    14.132721  22.739805  32.239544  35.369882
three  23.010032  23.518639  58.363013  74.571382
four   67.247457  64.716341  14.454237  14.024974
------
a    40.500065
b    15.907407
c    26.638836
d    90.647139
Name: one, dtype: float64
a    67.247457
b    64.716341
c    14.454237
d    14.024974
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    40.500065  15.907407  26.638836  90.647139
three  23.010032  23.518639  58.363013  74.571382
               a          b          c          d
four   67.247457  64.716341  14.454237  14.024974
three  23.010032  23.518639  58.363013  74.571382
two    14.132721  22.739805  32.239544  35.369882
多位置索引
-----
               a          b          c          d
two    14.132721  22.739805  32.239544  35.369882
three  23.010032  23.518639  58.363013  74.571382
               a          b          c          d
one    40.500065  15.907407  26.638836  90.647139
three  23.010032  23.518639  58.363013  74.571382
切片索引

In [15]:
# 布尔型索引
# 多用于索引行

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

b1 = df < 20
print(b1,type(b1))
print('------')
print(df[b1])  # 也可以书写为 df[df < 20]
print('------')
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b2 = df['a'] > 50
print(b2,type(b2))
print('------')
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列
df[['b', 'c']][df['a']>50]

               a          b          c          d
one    91.201088  90.817092   5.937786  25.893184
two    67.153927  38.456676  12.023042  45.986469
three  43.098450  70.901980  80.104064  94.818023
four   77.064668  28.791128  36.255495  15.515452
------
           a      b      c      d
one    False  False   True  False
two    False  False   True  False
three  False  False  False  False
four   False  False  False   True <class 'pandas.core.frame.DataFrame'>
------
        a   b          c          d
one   NaN NaN   5.937786        NaN
two   NaN NaN  12.023042        NaN
three NaN NaN        NaN        NaN
four  NaN NaN        NaN  15.515452
------
one       True
two       True
three    False
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
------
              a          b          c          d
one   91.201088  90.817092   5.937786  25.893184
two   67.153927  38.456676  12.023042  45.986469
four  77.064668  28.791128  36.255495  15.515452
------

              b          c
one   90.817092   5.937786
two   38.456676  12.023042
four  28.791128  36.255495

In [16]:

b3 = df[['a','b']] > 50 
print(b3,type(b3))
# print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN
# 注意这里报错的话，更新一下pandas → conda update pandas

b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print('------')
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

           a      b
one     True   True
two     True  False
three  False   True
four    True  False <class 'pandas.core.frame.DataFrame'>

ValueError: Boolean array expected for the condition, not float64

In [ ]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

######## 课后小练习,请查看 “pandas课程作业.docx”  ########

作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
* 索引得到b，c列的所有值
* 索引得到第三第四行的数据
* 按顺序索引得到two，one行的值
* 索引得到大于50的值

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(16).reshape(4, 4)*100,
                 index = ['one','two', 'three', 'four'],
                 columns = ['a', 'b', 'c', 'd'])

In [ ]:
df[['c', 'd']]

In [ ]:
df.loc[['three', 'four']]

In [ ]:
df.iloc[[2, 3]]

In [ ]:
df.loc[['two', 'one']]

In [ ]:
df[df>50]

作业2：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
* 标签为b，c的值为多少
* Series中第4个和6个值是哪些？
* Series中大于50的值有哪些？

In [ ]:
s = pd.Series(np.random.rand(10)*100,
             index = ['a','b','c','d','e','f', 'g','h','i','j'])
s

In [ ]:
s.loc['b'], s.loc['c']

In [ ]:
s.iloc[4], s.iloc[6]

In [ ]:
s[s>50]

In [ ]:
s[s>50].index.tolist()